{% extends 'base/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">
    <div class="col-md-12 px-4">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Update Profile</h3>
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>
                    {% endfor %}
                {% endif %}
                {% if form.errors %}
                <div class="alert alert-error">
                <h4>Please fix the following errors</h4>
                <ul>
                    {% for field in form %}
                    {% if field.errors %}
                        {% for error in field.errors %}
                        <li><a href="#id_{{ field.name }}" class="error">{{ error|escape }}</a></li>
                        {% endfor %}
                    {% endif %}
                    {% endfor %}
                </ul>
                {% if form.non_field_errors %}
                    {{ form.non_field_errors }}
                {% endif %}
                </div>
            {% endif %}
            </div>
            <form id="quickForm" novalidate="novalidate" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card-body">
                    {{ form|crispy }}
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{ formset.management_form }}
                        {{ formset.non_form_errors }}
                        <div class="card mt-4">
                            <div class="card-body px-4 py-2">
                                <h4>Add Edication</h4>
                                {% for form in formset %}
                                        <div class="row inline {{ formset.prefix }} upazila_section card p-3">
                                            <div class="col-md-0 counter">
                                                {{ form.id }}
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    {{ form.degree|as_crispy_field }}
                                                </div>
                                                <div class="col-md-3">
                                                    {{ form.subject|as_crispy_field }}
                                                </div>
                                                <div class="col-md-3">
                                                    {{ form.result|as_crispy_field }}
                                                </div>
                                                <div class="col-md-3">
                                                    {{ form.university|as_crispy_field }}
                                                </div>
                                                <div class="col-md-3">
                                                    {{ form.start_date|as_crispy_field }}
                                                </div>
                                                <div class="col-md-3">
                                                    {{ form.end_date|as_crispy_field }}
                                                </div>
                                                <div class="col-md-6">
                                                    {{ form.description|as_crispy_field }}
                                                </div>
                                            </div>
                                            <div style="display: contents;" class="col-md-4">
                                                {% if formset.can_delete %}
                                                    {{ form.DELETE }}
                                                {% endif %}
                                            </div>
                                        </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{ skill_form.management_form }}
                        {{ skill_form.non_form_errors }}
                        <div class="card mt-4">
                            <div class="card-body px-4 py-2">
                                <h4>Add Skills</h4>
                                {% for form in skill_form %}
                                    <div class="row inline {{ skill_form.prefix }} upazila_section card p-3">
                                        <div class="col-md-0 counter">
                                            {{ form.id }}
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                {{ form.name|as_crispy_field }}
                                            </div>
                                            <div class="col-md-6">
                                                {{ form.type|as_crispy_field }}
                                            </div>
                                        </div>
                                        <div style="display: contents;" class="col-md-4">
                                            {% if skill_form.can_delete %}
                                                {{ form.DELETE }}
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_js %}
<script src="{% static 'js/formset.js' %}"></script>
<script type="text/javascript">
    $(function () {
        $(".inline.{{ formset.prefix }}").formset({
            prefix: "{{ formset.prefix }}",
            addCssClass: "add-row btn btn-outline-primary",
            deleteCssClass: "delete-row",
            addText: "add Another",
            deleteText: '<i class="fa fa-trash text-danger"></i>',
            formCssClass: "inline-form",
        });
    });

    $(function () {
        $(".inline.{{ skill_form.prefix }}").formset({
            prefix: "{{ skill_form.prefix }}",
            addCssClass: "add-row btn btn-outline-primary",
            deleteCssClass: "delete-row",
            addText: "add Another",
            deleteText: '<i class="fa fa-trash text-danger"></i>',
            formCssClass: "inline-form",
        });
    });
</script>
{% endblock extra_js %}