import os

# Database Configaretion
DATABASES = {
    'default': {
        'ENGINE': os.getenv('DB_ENGINE', 'django.db.backends.postgresql'),
        'HOST': os.getenv('DB_HOST', '127.0.0.1'),
        'PORT': os.getenv('DB_PORT', 5432),
        'NAME': os.getenv('DB_NAME', 'mms_db'),
        'USER': os.getenv('DB_USER', 'mms_user'),
        'PASSWORD': os.getenv('DB_PASS', 'pass')
    }
}

# secret key
SECRET_KEY = 'django-insecure-uj2gqvtm1y(-%4_xhi73#+#w%mf!^f%4bk9$yuh9el7+u+796z'

# adding config for cloudinary storage
CLOUDINARY_STORAGE = {
    'CLOUD_NAME': 'Your cloud_name',
    'API_KEY': 'your api_key',
    'API_SECRET': 'your api_secret'
}


# Default
FILE_STORAGE = 'cloudinary_storage.storage.MediaCloudinaryStorage'
