{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<div class="card px-3">
    <div class="card-header">
        <h3 class="card-title">ToDo Detail</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12 order-2 order-md-1">
                <div class="row">
                    <div class="col-12 col-sm-4">
                        <div class="info-box bg-light">
                            <div class="info-box-content">
                                <span class="info-box-text text-center text-muted">Total Need Item</span>
                                <span class="info-box-number text-center text-muted mb-0">{{ total_need }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="info-box bg-light">
                            <div class="info-box-content">
                                <span class="info-box-text text-center text-muted">Total Complete</span>
                                <span class="info-box-number text-center text-muted mb-0">{{ total_complete }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="info-box bg-light">
                            <div class="info-box-content">
                                <span class="info-box-text text-center text-muted">Total Incomplete</span>
                                <span class="info-box-number text-center text-muted mb-0">{{ total_incomplete }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h4>Need Item Activity</h4>
                        <div class="row">
                            {% for obj in need_item_list %}
                            <div class="col-md-3">
                                <div class="card bg-light p-3">
                                    <h5>Iten Name: {{ obj.name }}</h5>
                                <span>Need Date: {{ obj.date|date:"d-m-Y" }}</span>
                                <span>Quantity: {{ obj.quantity }} {{ obj.quantity_type }}</span>
                                <span>Status: {% if  obj.status %}
                                    <button class="btn btn-sm btn-success p-1">Complete</button>
                                    {% else %} <button type="button" class="btn btn-sm btn-danger mt-2" style="padding: 0 7px;">Need</button>
                                    {% endif %}</span>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}