{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="card-title">Market List</h3>
                </div>
                <div class="col-md-6 text-right">
                    <a class="btn btn-sm btn-primary" href="{% url 'meal:market_create' %}"><i class="fas fa-plus-square"></i> Add Market</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            {% for obj in object_list %}
                <div class="card-head border my-1 p-1">
                    <div class="row">
                        <div class="col-md-6">
                            {{ obj.date|date:"d-m-Y" }}
                        </div>
                        <div class="col-md-6 text-right">
                            <a href="{% url 'meal:market_update' obj.pk %}" class="btn btn-sm btn-primary">
                                <i class="fas fa-edit"></i>
                            </a>
                        </div>
                    </div>
                    <table class="table mt-3">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Item Name</th>
                                <th>Quantity</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for obj in obj.item_set.all %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ obj.name }}</td>
                                <td>{{ obj.quantity }}</td>
                                <td>{{ obj.price }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}